[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
[submodule "tinyobjloader"]
	path = tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "termcolor"]
	path = termcolor
	url = https://github.com/ikalnytskyi/termcolor.git
[submodule "PhysX"]
	path = NVIDIA/PhysX/PhysX
	url = https://github.com/NVIDIAGameWorks/PhysX.git
	ignore = dirty
[submodule "SPIRV-Reflect"]
	path = SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
[submodule "OpenAL/openal-soft"]
	path = OpenAL/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
[submodule "Font-Awesome/IconFontCppHeaders"]
	path = Font-Awesome/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
[submodule "portable-file-dialogs"]
	path = portable-file-dialogs
	url = https://github.com/samhocevar/portable-file-dialogs.git
